# Created directories
data/
store/
subs/
assets/

# Python cache
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Build / project directories
.ragsynapse/
.ragsynapse-dev/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db